<!DOCTYPE html>
<html lang="en" ng-app="App">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DigiPaper e-Documents</title>
    <link href="Styles/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="Styles/modern-business.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="Fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">DigiPaper e-Documents</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/home">{{ 'HOME' | translate }}</a></li>
                <li><a href="#/products">{{ 'PRODUCTS' | translate }}</a></li>
                <li><a href="#/categories">{{ 'CATEGORIES' | translate }}</a></li>
                <li><a href="#/references">{{ 'REFERENCES' | translate }}</a></li>
                <li><a href="#/about">{{ 'ABOUT' | translate }}</a></li>
                <li><a href="#/contact">{{ 'CONTACT' | translate }}</a></li>
                <li><a href="#/login">{{ 'LOGIN' | translate }}</a></li>
                <li><a href="#/signup">{{ 'SIGNUP' | translate }}</a></li>
                <li><button ng-click="changeLanguage('tr')">TR</button></li>
                <li><button ng-click="changeLanguage('en')">EN</button></li>

                <!--li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/portfolio-1-col">1 Column Portfolio</a></li>
                        <li><a href="#/portfolio-2-col">2 Column Portfolio</a></li>
                        <li><a href="#/portfolio-3-col">3 Column Portfolio</a></li>
                        <li><a href="#/portfolio-4-col">4 Column Portfolio</a></li>
                        <li><a href="#/portfolio-item">Single Portfolio Item</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog-home-1">Blog Home 1</a></li>
                        <li><a href="#/blog-home-2">Blog Home 2</a></li>
                        <li><a href="#/blog-post">Blog Post</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/full-width">Full Width Page</a></li>
                        <li><a href="#/sidebar">Sidebar Page</a></li>
                        <li><a href="#/faq">FAQ</a></li>
                        <li><a href="#/404">404</a></li>
                        <li><a href="#/pricing">Pricing Table</a></li>
                    </ul>
                </li-->
            </ul>
        </div>
    </div>
</nav>

<div ng-view></div>

<p>Copyright &copy; DigiPaper 2016</p>

<!-- jQuery -->
<script src="Scripts/lib/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="Scripts/lib/bootstrap.min.js"></script>
<script src="Scripts/lib/angular.min.js"></script>
<script src="Scripts/lib/angular-route.min.js"></script>
<script src="Scripts/lib/angular-translate.min.js"></script>
<script src="Scripts/lib/ui-bootstrap-tpls.min.js"></script>

<script src="Scripts/module.js"></script>
<script src="Scripts/run.js"></script>
<script src="Scripts/directive.js"></script>
<script src="Scripts/factory.js"></script>
<script src="Scripts/config.js"></script>
<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
</body>
</html>